<ul>
  <li>
    <%= link_to tree_item.name, tree_item.url %> (<%= link_to "Ny undersida", new_text_node_child_path(tree_item) %> | <%= link_to "Redigera", edit_text_node_path(tree_item)%>)
      
    <%= render :partial => 'tree_item', :collection => tree_item.children %>
  </li>
</ul>