<h2>Min purjo</h2>

<h3>Kurser</h3>
<ul>
  <% @settings.courses.each do |course| %>
    <li><%= course.name %> (<%= course.code %>)</li>
  <% end -%>
</ul>

<h3>Schema</h3>
<% if @settings.has_schedule_link? %>
  <%= @settings.schedule_link %>
<% else %>
  Ingen schemalänk
<% end -%>
