%h2 Alla sidor

- if Person.current.admin?
  %p
    %strong OBS:
    Det g책r i dagsl채get inte att ta bort sidor som har barn, d책
    채r lite jobbigare att implementera.

= render :partial => 'tree_item', :collection => [@parent]

