<h2>Ny sida</h2>

<p>Du håller på att skapa en ny undersida till "<%=@parent.url%>".</p>

<%= render :partial => 'text_nodes/form' %>

<%= render :partial => "text_nodes/textile_help", :layout => false %>
