mkmf.log
.DS_Store
log/*
db/*.sql
db/*.sqlite3
db/schema.rb
config/database.yml
config/configuration.yml
doc/api
tmp
rerun.txt
.bundle
capybara-*.html
public/system
public/stylesheets/screen.css
public/stylesheets/navigation.css
public/stylesheets/news.css
public/stylesheets/form.css
public/stylesheets/tables.css
public/stylesheets/styled_table.css
public/stylesheets/admin_box.css
public/stylesheets/functionaries_and_nominees.css
