%h2 Redigera en nominering
- form_for(@nominee) do |f|
  = render :partial => 'form', :locals => { :f => f }
  %p
    = f.submit "Update"

= link_to 'Show', @nominee
|
= link_to 'Back', nominees_path
