%h2 Redigera en nominering
- form_for(@nominee) do |f|
  = render :partial => 'form', :locals => { :f => f }
  %p
    = f.submit "Update"

- side_link 'Visa nominering', @nominee
- side_link 'Till nomineringar', nominees_path
- side_link 'Ta bort nominering', @nominee, :confirm => 'Are you sure?', :method => :delete
