%h2 Redigera en nominering

= render :partial => 'form'

- admin_link 'Ta bort nominering', @nominee, :confirm => 'Är du säker på att du vill ta bort nämnden?', :method => :delete
- admin_link 'Alla nomineringar', nominees_path
