<h1>Editing nominee</h1>

<% form_for(@nominee) do |f| %>

  <%= render :partial => 'form', :locals => { :f => f } %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @nominee %> |
<%= link_to 'Back', nominees_path %>
