%h2 Skapa ny nominering

= render :partial => 'form'

%div.notification
  %p
    För att lista poster som inte har några kandidater, skapa
    en nominering där du lämnar användarnamnet tomt.

- admin_link 'Alla nomineringar', nominees_path
