%h2 Skapa ny nominering
- form_for(@nominee) do |f|
  = render :partial => 'form', :locals => { :f => f }
  %p
    = f.submit "Skapa"

%div.notification
  %p
    För att lista poster som inte har några kandidater, skapa
    en nominering där du lämnar användarnamnet tomt.
