- if @nominee.person
  %p
    %b Person:
    = @nominee.person
- else
  %div.notification
    %p
      %b Notera
      Den här nomineringen finns bara som en "placeholder" så att en funktionärspost
      som ej har nomineringar syns på nomineringssidan.
    %p
      Nomineringen är osynlig och syns inte i listorna.
    %p
      Om posten har kandidater kan du ta bort nomineringen.
%p
  %b Valtillfälle:
  = @nominee.election_event.formated
%p
  %b Post:
  = @nominee.chapter_post.name
%p
  %b Status:
  = @nominee.status_text

- side_link 'Redigera nominering', edit_nominee_path(@nominee)
- side_link 'Till nomineringar', nominees_path
