.popup
  .popup-inner
    = image_tag(person.gravatar_url)
    %h3= person
    - if person.functionaries.present?
      %p!= person.functionaries.active.map { |f| link_to f.chapter_post.name, contact_path(f.chapter_post.slug) }.to_sentence
  .clear &nbsp;

