%h3
  = result.name
  %span.type (Nämnd)

- if result.chapter_post.present?
  %p
    != link_to(result.chapter_post.name, chapter_post_path(result.chapter_post)) + ": "
    - if result.chapter_post.functionary.present? && result.chapter_post.functionary.person.present?
      = link_to result.chapter_post.functionary.person.name person_path(result.chapter_post.functionary.person)
