%h2 Sökresultat

- if @search.total == 0
  %p
    Inga sökträffar hittades.

- else
  %p
    = @hit_count
    sökträffar
  - @hits_and_results.each do |hit, result|
    = render :partial => "#{result.class.to_s.underscore}_result", :locals => {:hit => hit, :result => result}
  
  = will_paginate(@search.hits)