<h1>Ny drifvare</h1>

<% ior_form_for(@morklaggning) do |f| %>
  <%= f.error_messages %>

  <%= f.text_field :username, :caption=>"Användarnamn" %>
  <%= f.text_field :drifvarname, :caption=>"Drifvarnamn" %>
  <%= f.submit "Lägg till" %>
  </p>
<% end %>
