%h2 Redigera nyhetsbrev

= render :partial => 'form'

- admin_link 'Ta bort', @newsletter, :method => :delete, :confirm => 'Är du säker på att du vill ta bort det här nyhetsbrevet?', :class => "delete"
- admin_link "Tillbaka", admin_newsletters_path
