%h2 Nyhetsbrev

%table
  %thead
    %tr
      %th
        Namn
      %th
  %tbody
    - @newsletters.each do |newsletter|
      %tr
        %td= link_to newsletter.name, newsletter
        %td
          Ta bort

%p.actions
  = link_to t('.new'), new_newsletter_path
        
  