%h2 Nyhetsbrev

%table
  %thead
    %tr
      %th
        Subject
      %th
  %tbody
    - @newsletters.each do |newsletter|
      %tr{:id => "newsletter_#{newsletter.id}"}
        %td= link_to newsletter.subject, newsletter
        %td
          = link_to "Testutskick", new_newsletter_test_delivery_path(newsletter)
          Ta bort

%p.actions
  = link_to t('.new'), new_newsletter_path
        
  