%h2 Nyhetsbrev

%table.auto
  %thead
    %tr
      %th Namn
      %th Publicerat
  %tbody
    - @newsletters.each do |newsletter|
      %tr{:id => "newsletter_#{newsletter.id}"}
        %td= link_to newsletter.subject, newsletter
        - if newsletter.state == :sent
          %td= l newsletter.published, :format => "%e %b %Y"
        - else
          %td Utkast

%p
  = will_paginate @newsletters

- if Person.current.admin?
  - admin_link "Administrera nyhetsbrev", admin_newsletters_path
  
