%h2 Nyhetsbrev #{@newsletter.subject}

- @newsletter.newsletter_sections.sorted.each do |section|
  %h3= link_to section.title, edit_newsletter_newsletter_section_path(@newsletter, section)
  
  %p= section.body

%p.actions
  = link_to t('.add_section'), new_newsletter_newsletter_section_path(@newsletter)
