/********************************************************/
/* CSS for 500 errors in Purjo - Datasektionen KTH */

/********************************************************/
/* Global rules */
body {
        background: #f9f9f9;
}

/* Specific design */

#error_box {
	border: none;
	width: 35em;
	min-height: 220px;
	margin: 0 auto;
	padding: 4px 4px 4px 104px;
	background: url("/images/purjo_liten.png") no-repeat 0 40px;
}

#error_box div {
	margin-left: 104px;
}

span.small
{
	font-size: 14px;
	color: #888; 
}
