fieldset {
  margin-left: 0px;
  border: none;
  padding: 0;
  margin-bottom: 10px;
}

fieldset ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

fieldset ul li {
  clear: both;
  float: left;
  width: 800px;
  padding: 8px 0;
  border-top: 1px solid #eeeeee;
}

fieldset ul li .fields {
  width: 400px;
  float: left;
}

fieldset ul li label {
  float: left;
  width: 150px;
  padding: 5px;
  margin-right: 10px;
  line-height: 1em;
  color: #333333;
}

fieldset ul li .suffix {
  margin-left: 10px;
  color: #363636;
}

fieldset ul li input {
  float: left;
}


fieldset ul .submit_li {
  border-top: 1px solid #eeeeee;
}

fieldset ul .submit_li div {
  margin-left: 120px;
}

fieldset ul .submit_li p {
  margin-left: 7px;
  float: left;
}
