/********************************************************/
/* Complete CSS - Datasektionen KTH */

/********************************************************/
/* Stop browser defaults from annoying us */
* {
        margin: 0;
        padding: 0;
}

/********************************************************/
/* Main box layout and positioning */
#header_container {
        background: #000 url(/images/logotest7-1280-cloned.jpg) no-repeat;
        border: 1px solid #E2007F;
        border-bottom: 0;
        height: 102px;
}
#header_container a {
        display: block;
        height: 102px;
}
#title_container {
        border: 1px solid #E2007F;
        border-width: 0 1px;
        padding-bottom: 0em;
}
#content_container {
        background: #FFFFFF;
        margin: 0 0 0 16.5em;
        width: auto;
}
#related_container, #menu_container {
        position: absolute;
        top: 125px;
}
#menu_container {
        border-left: 1px solid #E2007F;
        border-bottom: 3px solid #DBDBDB;
        margin-top: 1.3em;
        padding-top: 1em;
        width: 15em;
}
#menu_container ul {
        background: #F2F2F2;
        border-right: 1px solid #DBDBDB;
}
#menu_container ul ul {
        border-right: none;
}
#related_container {
        margin-top: 1.3em;
        border-right: 1px solid #E2007F;
        border-left: none;
        right: 20px;
        width: 15.5em;
}


/* Fix for the Peekabo Bug in IE6 (but not IE5/Mac) */
/* Hides from IE5-mac \*/
* html #content_container { height: 1%; }
/* End hide from IE5-mac */

/********************************************************/
/* Image replacement */
h1 span, h2 span, h3 span, h4 span, h5 span, h6 span, .hidden {
        display: none;
        visibility: hidden;
}

/********************************************************/
/* Global rules */
a, a:link, a:visited { color: #000000; }
a:hover { color: #555555; }
a img {border: 0;}
body {
        background: #FFFFFF;
        font: 0.72em Verdana, Geneva, Arial, Helvetica, sans-serif;
        margin: 20px;
}
blockquote, code {
        background: #E4E4E4;
        font-family: "Courier New", Courier, monospace;
}
blockquote.pre {
        padding: 0.25em 0.5em 0.25em;
}
blockquote.pre p, blockquote.pre code {
        white-space: pre;
}
code {
        padding: 2px 3px;
}
h2, h3 {
        margin: 1em 0 0.5em;
}
h2 {
        font-size: 1.4em;
        font-weight: bold;
}
h3 {
        background: #F2F2F2 url(/images/icon_square.gif) no-repeat 4px 8px;
        border-bottom: 1px solid #DBDBDB;
        border-top: 1px solid #DBDBDB;
        font-size: 1.1em;
        padding-left: 15px;
}
p, blockquote, code {
        margin: 0.25em 0.5em 1em;
}
ul, ol {
        margin: 1em 1em 1em 2em;
}
ul ul, ol ol {
        margin: 0.25em 1em 0.25em 2em;
}
dl {
        margin: 0.5em 1em 0.5em 2em;
}
dd {
        margin-left: 2em;
}
.codeblock {
        list-style: circle;
}
.codeblock li {
        margin-bottom: 0.3em;
}
table {
        border-collapse: collapse;
        margin: 0.5em 0.5em;
}
table td, table th {
        border: 1px solid #DBDBDB;
        padding: 2px 6px;
        text-align: left;
        vertical-align: top;
}
table th {
        background: #DBDBDB;
}
table tr.odd td {
        background: #F2F2F2;
}
table .right {
        text-align: right;
}
table .left {
        text-align: left;
}
table.basic td, table.basic th {
        border: none;
        text-align: left;
        vertical-align: top;
}
fieldset {
        margin: 2px 4px;
        padding: 2px 4px;
}
legend {
        padding: 2px 4px;
}
input, textarea, select {
        margin: 2px 0px;
        padding: 1px;
        border: 1px solid #aaaaaa;
}
input.button {
        background: #ccc;
        margin: 2px 4px;
        padding: 0;
}
/* Just set <ul class="horizontal"> to use this predefined class
   The last <li> in your list should have class="last" set so
        that the last divider gets hidden. */
.horizontal {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-bottom: 1em;
}
.horizontal li {
        float: left;
        padding: 0 0.5em;
        border-right: 1px solid #ccc;
        height: 1.25em;
}
.horizontal .last, .horizontal .right {
        padding-right: 0;
        border-right: 0;
}
.horizontal .right { float: right; }

/* Below is a clearing hack to clear the list without additional markup */
.horizontal:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.horizontal { display: inline-block; }
/* Hides from IE-mac \*/
* html .horizontal { height: 1%; }
.horizontal { display: block; }
/* End hide from IE-mac */
.strikethrough {text-decoration: line-through;}
/********************************************************/
/* Specific design */
#title_container ul {
        background: #E2007F;
        font-size: 1.1em;
        padding: 2px 4px;
}
#title_container a {
        color: #ffffff;
        text-decoration: none;
}
#title_container a:hover {
        text-decoration: underline;
}
#content_header, #content_footer {
        clear: both;
}
#content_header {
        padding-bottom: 0.25em;
        border-bottom: 1px solid #DBDBDB;
        margin-bottom: 1em;
}
#content_container {
        line-height: 1.6;
}
#content_footer {
        margin-top: 2em;
        border-top: 1px solid #DBDBDB;
        padding-top: 0.25em;
        padding-bottom: 3em;
}
#related_container h3, #related_container p, #related_container ul {
        background: #F9F9F9;
        border: 1px solid #DBDBDB;
        margin: 0;
}
#related_container h3 {
        background: #E4E4E4 url(/images/icon_frw3.gif) no-repeat 4px 4px;
        margin-top: 1em;
        font-size: 1.0em;
        padding: 0.1em 0.5em 0.1em 1.3em;
}
#related_container p {
        border-width: 0 1px;
        padding: 0.25em 1em 1em;
        text-align: left;
}
#related_container ul {
        border-top: none;
        border-bottom: 3px solid #DBDBDB;
        display: block;
        font-size: 1em;
        padding: 0.25em 0.25em 1em;
        text-align: right;
}
#related_container h3 a {
        text-decoration: none;
}

.news h3 a {
	text-decoration: none;
}

#menu_container h2 {
        margin-top: 0;
        margin-bottom: 0;
}
#menu_container ul {
        list-style: none;
        margin: 0;
}
#menu_container a {
        text-decoration: none;
}
#menu_container a.depth1 {
        background: #E4E4E4;
        border-bottom: 1px solid #DBDBDB;
        border-top: 1px solid #DBDBDB;
        display: block;
        font-weight: bold;
        padding: 4px;
}
#menu_container ul ul li {
        padding: 2px 0px 2px 20px;
        /*background: transparent url(../../_images/icon_ring.gif) no-repeat 9px 7px;*/
}
#menu_container ul ul li.dropdown {
        padding-left: 0px;
}
#menu_container ul ul li.dropdown a {
        background: transparent url(/images/icon_rightarrow.gif) no-repeat 7px 50%;
        padding-left: 20px;
}
#menu_container ul ul li.open a {
        background: transparent url(/images/icon_downarrow.gif) no-repeat 7px 50%;
}
#menu_container ul ul li.open ul a {
        background: transparent;
}
#menu_container ul ul li.selected a {
        text-decoration: underline;
}
#menu_container li.closed ul { display: none; }

#englishflag {border: 1px solid #ccc;}

ul.submenu {list-style:none;margin:0px;padding:0px;}
ul.submenu li {border-left: 1px solid black;float:left;margin:0em;padding:0em 1em;}
ul.submenu li:first-child {border-left: 0px solid black;padding-left:0px;}
ul.submenu li a {text-decoration:none;}
/* Below is a clearing hack to clear the list without additional markup */
ul.submenu:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
ul.submenu { display: inline-block; }
/* Hides from IE-mac \*/
* html ul.submenu { height: 1%; }
ul.submenu { display: block; }
/* End hide from IE-mac */
/********************************************************/

/* When showing info from flash[:notice] */
div#flash_notice {
    padding: 0.3em;
    border: 1px solid #DBDBDB;
    background: #F2F2F2;
    margin-bottom: 1em;
    font-weight: bold;
}

/* Parse errors in Nodes */
span.parseerror {
	padding: 2px;
	background-color: #ffb6b1;
}

/* Node admin box */
#admin_box {
    padding: 6px;
    position: fixed;
    right: 0px;
    bottom: 0px;
    background: #F2F2F2;
    border: 1px solid #DBDBDB;
    text-align:right;
}

#admin_box div {
  margin-bottom: 5px;
  text-align:left;
}

/* Box for submenus, used in liquid menu tag */

div#submenu {
  display:block;
  outline:white solid 5px;
  float:right;
  background-color: #ffffff;
  padding:0em 1em;
  margin:0px;
  border:2px solid #cccccc;
}

div#preview {
  background: url('/images/node_draft_background.gif');
}

/********************************************************/

/* Login screen */
fieldset.loginscreen {
    border: 1px solid #cccccc;

    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: auto;
    margin-right: auto;

    padding: 20px;

    width: 400px;
}

fieldset.loginscreen dt {
    float: left;
    width: 130px;
}

/********************************************************/

div.auto_complete {
    background: white;
    border: 1px solid #666666;

    font-family: Tahoma;
    font-size: 8pt;
}

div.auto_complete ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

div.auto_complete li {
    padding: 2px 2px 2px 10px;
}

div.auto_complete li.selected {
    background-color: #f7f7f7;
}

div.auto_complete li .id {
    font-size: x-small;
    color: #666666;
}

dt {
    float: left;
    width: 150px;
    font-weight: bold;
}

.versions {
    border: 1px solid #dbdbdb;
    margin-bottom: 6px;
}

.versions pre {
    font-size: 9pt;
}

.versions ins {
    background: #baf8b5;
    text-decoration: none;
}

.versions del {
    background: #ffbebe;
    text-decoration: none;
}

.versions h3 {
    margin-top: 0px;
}

.comment {
    border: 1px solid #dbdbdb;
    margin: 3px 0px;
}

#footnotes_debug {
  margin: 2px 0px 8em 16.5em;
}

img.icon {
  vertical-align: text-bottom;
  border: none;
}

.nobr {
  white-space: nowrap;
}

.xfinger {
  float: right;
}

.xfinger img {
  max-height: 400px;
  max-width: 400px;
}

.color_section {
  -moz-border-radius: 4px;
  border-radius: 4px;
  border: 1px solid #ccc;
  padding: 2px 4px;
}

.sok_messagebox {
  background: #e4e4e4;
  width: 80%;
  padding: 4px 8px;
  margin: 5px;
  border: 1px solid #ccc;
}

.sok_form input {
  width: 80%;
  padding: 4px 8px;
  margin: 5px;
}

.bordlagd {
  background: #f2f2f2;
}

.bordlagd, .bordlagd a {
  color: #444;
}

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

.sticky {
  background-color: #F2F2F2;
}
.sticky h3 {
  background: #e2007f url(/images/icon_square_invert.gif) no-repeat scroll 4px 8px;
  border-bottom:1px solid #a1005a;
  border-top:1px solid #a1005a;
}
.sticky h3 a {
  color: #ffffff;
}

.comment_header {
	background: #F2F2F2 url(/images/icon_square.gif) no-repeat scroll 4px 8px;
	border-bottom: 1px solid #DBDBDB;
	border-top: 1px solid #DBDBDB;
	font-size: 1.1em;
	padding-left: 15px;
	margin: 1em 0 0.5em;
	font-weight: normal;
	clear: both;
}
