/* ----- NYHETER ----- */
div.news {
        margin-bottom: 1em;
}
form#form_news {
        display: inline;
}
form#form_news input, form#form_news select {
        margin: 0;
        padding: 0;
}
div.news ul.author {
        margin-top: 1em;
        text-align: right;
}
div.news ul.author li {
        float: right;
}
div.news p {
        clear: left;
}
.control {
        background: #F7F7F7;
        border: 1px solid #DBDBDB;
        clear: both;
}
.control p {
        padding: 2px 4px;
        margin: 0;
}
.sections ul li {
        line-height: 1em;
}
.displayblock {
        display: block;
}
#news_error {font-weight: bold;}

#calendar_start_year, #calendar_end_year {
  width: 4.5em;
}
#calendar_start_month, #calendar_start_day, #calendar_start_hour, #calendar_start_minute, #calendar_end_month, #calendar_end_day, #calendar_end_hour, #calendar_end_minute {
  width: 3em;
}

.separator {
  clear:both;
  height: 1px;
}

.right {
  float: right;
}

.left {
  float: left;
}

#news {
  float:left;
  width: 70%;
}

#calendars {
  float: right;
  width: 30%;
}
