/* Use the whole paper. */

/*
.icon, #body_container, #title_form, #title_form ul, #title_form li, #title_form ul a, #title_form ul a:hover, #search_site, #title_line, #title_line_home, #title_line_date, #title_line_home a, #menu_container, #menu_container .menu_content, #menu_container ul, #menu_container ul ul, #menu_container h3.header, #menu_container li, #menu_container li.dropdown, #content_container, #content, #content h2, #content h3, #content p, #content ul, #content .user, #content .date, #content .thumbnail, #content_header .left, #content_footer .left, #content_footer .last_update_date, #content_footer .legal, #content_footer .site_links, #content_header .right, #content_footer .right, #content_footer .prev_page, #content_footer, #related_container, #related_container h4, #related_container p, #related_container img {
	margin: 0px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
}
*/

#content_container {
	margin: 0;
	padding: 0;
	float: none;
}

#content_footer {
	display: none;
}

a.ref {
	/* display: none;	*/
}

/* Detta gör att Nyhetssidan ser otroligt ful ut. Jag kommenterar bort sålänge
a:link:after, a:visited:after {
   content: " (" attr(href) ") ";
}*/

#menu_container, #search_form, #title_line, #title_line_home {
	display: none;
}


/* Was hidden */

#title_container h1 span {
	display: block;
}


/* Hide stuff. */

hr {
	display: none;
}


#content_header, #title_container,  #content_footer .left, #content_footer .site_links {
	display: none;
}
#content_footer .right, #content_footer .prev_page {
	display: none;
}
.divider_m, .divider {
	display: none
}

#title_links, #title_line {
	display: none;
}

#title_form, #menu_container, #related_container {
	display: none;
}


/* Always use black text on white background. */

#title_container, #content h3, #content .user, #content .date, #content_footer, #title_form, #title_form ul, #title_form li, #title_form ul a {
	background: none;
	background-color: white;
	color: black;
}

/* Some layout */

#content_footer {
	border: none;
}


#content p {
	/* Funkar inte i utskrifter från Firefox (postscript-backend). */
	text-align: left;
}

#title_form {
	border-left: none;
	float: none;
	padding: 0px 0px 0px 0px;
}

#body_container, #content_container {
	min-width: 100%;
	max-width: 100%;
	width: 100%;
}

#content_container {
	/* position: static doesn't seem to work */
	position: absolute;
	left: 10px;
	top: 80px;
	right: 100%;
}

#ths-bar, #kundo_button_container {
  display: none;
}

