div.header {
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 3px #d7d7d7;
  -moz-box-shadow: 0px 3px 3px #d7d7d7;

  .actions {
    margin-top: 10px;
    text-align: right;
  }

  .login {
    margin: 13px 0 8px 0;
    font-size: 13px;
    line-height: 28px;

    img { margin-left: 4px; height: 28px; vertical-align: bottom; }
    .person {
      color: #e2007f;
      font-size: 15px;
      font-weight: bold;
      text-decoration: none;
    }
    .person:hover span { text-decoration: underline; }

    a.do {
      margin-left: 8px;
      padding: 3px 6px;
      color: #fff;
      background: #666;
      font-weight: bold;
      border-radius: 5px;
      -moz-border-radius: 5px;
    }
    a.do:hover {
      background: #777;
      text-decoration: none;
    }
  }

  input#search {
    padding: 5px 3px;
    font-size: 14px;
    width: 200px;
    text-align: left;
  }
  input#search.active { color: black; }
  input#search.inactive { color: #bbb; }
  
  h1 {
    font-family: 'Yanone Kaffeesatz', arial, serif;
    font-size: 35px;
    margin-bottom: 0px;
  }

  ul.nav {
    margin: 0px;
    padding: 8px 0px 28px 0px;

    li {
      font-size: 15px;
      list-style-type: none;
      margin-right: 40px;
      float: left;
    }
    li.active {
      font-weight: bold;
    }
  }

  .shield img {
    position: absolute;
    left: 10px;
  }
}

@mixin unstyled-list {
  ul {
    margin-left: 0;
    list-style-type: none;
  }
  
}

div.subnav {
  @include unstyled-list;
  margin-top: 80px;
  color: #222;
  font-size: 14px;
  text-align: right;
  line-height: 1.5;

  h3, ul { margin: 0; }
  ul { margin-bottom: 20px; }
  h4 { margin: 4px 0 0; } 
  .current { font-weight: bold; }
}

div.admin {
  h4, ul { font-size: 13px; }
  ul { margin-bottom: 5px; }
}

div.info_box {
  @include unstyled-list;
  float: right;
  margin: 0 0 0 10px;
  border: 1px solid #000;
  background: #fafafa;
  font: normal normal 12px/17px Helvetica, Tahoma, sans-serif;
  text-align: left;

  .grid_3 { margin: 0 0px 0 10px; }
  
  h4 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  dl {
    margin-bottom: 0px;
  }
}
