div.main {
  background-color: #fff;
  -webkit-box-shadow: 0px -4px 15px #7b7b7b;

  ul {
    margin: 0px;
    padding: 13px 0px 28px 0px;

    li {
      font-family: 'Helvetica';
      font-size: 15px;
      
      list-style-type: none;
      margin-right: 40px;
      float: left;
    }
  }
}

div.sub {
  a.shield {
    margin: 10px 0px;
    float: right;
    -webkit-transform: rotate(0deg);
  	-webkit-transition: all 0.7s ease-in;
  }
  
  a.shield:hover {
    -webkit-transform: rotate(0deg);
  	-webkit-transition: all 0.3s ease-in;
  }

  ul {
    li {
      font-family: 'Helvetica';
      font-size: 15px;
      text-align: right;
      list-style-type: none;
      color: #222;
      margin-bottom: 5px;
    }
  }
}
