div.top {
  background-color: #242424;
  font-size: 12px;
  padding-top: 3px;
  padding-bottom: 3px;
  color: #e7e7e7;
  overflow: auto;

  a, strong {
    color: white;
  }
}

div.header {
  position: relative;
  background-color: #fff;
  -webkit-box-shadow: 0px 3px 3px #d7d7d7;
  -moz-box-shadow: 0px 3px 3px #d7d7d7;

  input#search {
    padding: 5px 3px;
    margin-top: 25px;
    font-size: 14px;
    width: 200px;
  }
  input#search.active { color: black; }
  input#search.inactive { color: #bbb; }
  
  h1 {
    font-family: 'Yanone Kaffeesatz', arial, serif;
    font-size: 35px;
    margin-bottom: 0px;
  }

  ul.nav {
    margin: 0px;
    padding: 8px 0px 28px 0px;

    li {
      font-size: 15px;
      list-style-type: none;
      margin-right: 40px;
      float: left;
    }
    li.active {
      font-weight: bold;
    }
  }

  .shield img {
    position: absolute;
    left: 10px;
  }
}

@mixin unstyled-list {
  ul {
    margin-left: 0;
    list-style-type: none;
  }
  
}

div.subnav {
  @include unstyled-list;
  margin-top: 80px;
  color: #222;
  font-size: 14px;
  text-align: right;
  line-height: 1.5;

  h3, ul { margin: 0; }
  h4 {
    margin: 4px 0 0;
  }
}

div.admin {
  margin-top: 30px;
  h4, ul { font-size: 13px; }
}

div.info_box {
  @include unstyled-list;
  float: right;
  margin: 0 0 0 10px;
  border: 1px solid #000;
  background: #fafafa;
  font: normal normal 12px/17px Helvetica, Tahoma, sans-serif;
  text-align: left;

  .grid_3 { margin: 0 0px 0 10px; }
  
  h4 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  dl {
    margin-bottom: 0px;
  }
}
