.news-item {
  margin-bottom: 30px;
    
  h2 a { color: #222; }
  
  .meta {
    position: relative;
    margin: 6px 0;
    font-size: 14px;
    line-height: 26px;
    height: 28px;
    
    img.thumb {
      float: left;
      margin-right: 7px;
      width: 28px;
      height: 28px;
    }

    .popup {
      display: none;
      position: absolute;
      width: 317px;
      height: 90px;
      background-image: url('/images/box-arrow.png');
    }  

    .popup-inner {
      float: right;
      font: helvetica, arial, sans-serif;
      height: 80px;
      width: 300px;
      padding: 5px;
      background-color: #242424;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;
      
      h3, p {
        float: left;
        color: white;
        margin-left: 10px;
        font-family: helvetica, sans-serif;
        font-style: normal;
        width: 200px;
      }
    
      h3 {
        margin-top: 13px;
        font-size: 16px;
      }
      
      p {
        font-size: 13px;
        line-height: 15px;
      }
      
      img {
        float: left;
      }
    }
  }
  

  div.comments, div.respond { margin-top: 30px; }
	#noise_message {
		width: 80%;
		height: 200px;
	}

  .comment {
    margin: 5px 0 15px;
    .meta { margin-bottom: 5px; }
    .edit, .delete, .sep {
      float: right;
      font-style: normal;
    }
  }

  .fb-like {
    margin-top: 1px;
    overflow: hidden;
    border: none;
    width: 410px;
    height: 32px;
  }
  .fb-like.tiny {
    margin: 3px 0 0 20px;
    width: 100px;
    height: 20px;
  }
}

.tags {
  overflow: auto;
  .tag {
    margin: 2px 5px 2px 0;
    float: left;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    padding: 2px 7px;
    font-family: Helvetica, Tahoma, sans-serif;
    font-size: 12px;
    color: white;
    background-color: #393939;
    line-height: 15px;
    a, a:visited { color: white; }
  }
}

.foot {
  height: 26px;
  .comments, .edit {
    float: left;
    padding-left: 26px;
    background: url(/images/icons/AIM.png) no-repeat 0 1px;
  }
  .edit { background-image: url(/images/icons/Writing.png); }
  .edit, .delete {
    float: right;
    margin-left: 20px;
  }
}

