@import "960.scss";
@import "form.scss";
@import "news.scss";
@import "navigation.scss";
@import "styled_table.scss";
@import "tables.scss";
@import "mottagningen.scss";
@import "naringsliv.scss";
@import "menu_edit.scss";

* {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, pre, blockquote, ul, ol, dl, fieldset, address {
  margin: 9px 0px;
}

a {
  color: #000;
  text-decoration: none;
}
a:hover { text-decoration: underline; }

a img { border: none; }

html, body { height: 100%; }

body {
  background-image: url("/images/background.png");
  font-family: helvetica, sans-serif;
  min-height: 100%;
  line-height: 1.3;
  overflow-y: scroll;
}

blockquote {
  padding-left: 48px;
  font-style: italic;
  background: url("/images/quotation.png");
  background-repeat: no-repeat;
  
}

#wrapper {
  min-height: 100%;
}

#main {
  overflow: hidden; /* funkar(?), auto lägger till horisontal scrollbar i FF */ 
  padding-bottom: 150px;
}

#footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear: both;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 20px #7b7b7b;
  -moz-box-shadow: 0px 5px 20px #7b7b7b;
}

.dim {
  color: #777;
}

.logo {
  float: left;
  height: 150px;
  width: 150px;
  margin-top: 20px;
  margin-left: 240px;
  background-image: url(/images/shield-small-shadow.png);
}

.body {
  h2, h3 {
    font-family: 'Yanone Kaffeesatz', arial, sans-serif;
    line-height: 1.2;
  }

  h2 {
    font-size: 26px;
    // text-shadow: 2px 2px 2px white;
  }
  
  h3 {
    font-size: 24px;
    font-weight: normal;
  }
  h3.sub {
    font-family: helvetica, sans-serif;
    font-size: 14px;
    color: #222;
    line-height: 1;
  }
  
  h4 { font-size: 18px; }
}

.content {
  color: #222;
  font-family: 'Crimson Text', Georgia, serif;
  font-size: 16px;
  line-height: 1.5;
  
  ul { margin-left: 18px; }
  ol { margin-left: 18px; }

  a { color: #e2007f; }
  a:hover { text-decoration: underline; }
  
  dl {
    dt {
      font-weight: bold;
    }
    
    dd {
      margin-left: 20px;
    }
  }
  
  .more_info {
    float: right;
  }
}

.events {
  .event {
    .icon {
      width: 24px;
      height: 24px;
      float: left;
      margin-top: 0px;
      margin-right: 5px;
      margin-bottom: 5px;
      background-repeat: no-repeat;
    }
    
    .icon.esc {
      background-image: url(/images/icons/Bookmarks.png);
    }
    
    .icon.inspiration {
      background-image: url(/images/lightbulb.png);
    }
    
    .description {
      margin-bottom: 0px;
    }
    
    .time {
      font-style: italic;
      margin-left: 29px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
}

.justify {
  text-align: justify;
}

.twitter h2 {
	background: url(/images/twitter_dark.png) no-repeat right center;
}
.tweet {
	.text { margin-bottom: 0; }
	.author { font-weight: bold; }
	.meta {
		margin-top: 0;
		font-style: italic;
	}
}

form.noise {
  #noise_message {
    height: 70px;
  }
}

div.error, div.notice, div.success,
#flash_failure, #flash_success, #flash_notice {
  margin: 12px 0 10px 190px;
  padding: 0.8em;
  border: 1px solid #ddd;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}
div.error,
#flash_failure {
  background: #FBE3E4;
  color: #D12F19;
  border-color: #FBC2C4;
}
div.error a,
#flash_failure a { color: #D12F19; }

div.notice,
#flash_notice {
  background: #FFF6BF;
  color: #817134;
  border-color: #FFD324;
}
div.notice a,
#flash_notice a { color: #817134; }

div.notification {
  padding: 0.8em;
  margin-bottom: 1em;
  border: 1px solid #ddd;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
  background: #E6EFC2;
  //color: #529214;
  color: #222;
  border-color: #C6D880;
  padding-top: 0px;
  margin-top: 12px;
  a {
    color: #529214;
  }
  
  div.input, input.boolean {
    margin-top: 12px;
    margin-bottom: 12px;
  }
}

input#search.active {
  color: black;
}

input#search.inactive {
  color: #ccc;
}
