@import "960.scss";
@import "news.scss";
@import "navigation.scss";
@import "styled_table.scss";
@import "tables.scss";
@import "form.scss";

* {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6, p, pre, blockquote, label, ul, ol, dl, fieldset, address {
  margin: 10px 0px;
}

a {
  color: #000;
  text-decoration: none;
}

a:visited {
  color: #000;
}

a:hover {
  text-decoration: underline;
}

a img {
  border: none;
}

html, body {
  height: 100%;
}

body {
  background-image: url("/images/background.png");
  font-family: helvetica, sans-serif;
  min-height: 100%;
}

#wrapper {
  min-height: 100%;
}

#main {
  overflow: auto;
  padding-bottom: 150px;
}

#footer {
  position: relative;
  margin-top: -150px; /* negative value of footer height */
  height: 150px;
  clear: both;
  background-color: #fff;
  -webkit-box-shadow: 0px 5px 20px #7b7b7b;
  -moz-box-shadow: 0px 5px 20px #7b7b7b;
}

span.dim {
  color: #777;
}

.logo {
  float: left;
  height: 150px;
  width: 150px;
  margin-top: 20px;
  margin-left: 240px;
  background-image: url(/images/shield-small-shadow.png);
}

.content {
  h2 {
    font-family: 'Yanone Kaffeesatz', arial, serif;
    font-size: 26px;
    # text-shadow: 2px 2px 2px white;
  }
  
  h3 {
    font-size: 15px;
    font-weight: normal;
    color: #222;
  }
  
  h4 {
    font-size: 18px;
  }
  
  p {
    font-family: 'Crimson Text' ,Georgia, sans-serif;
    font-size: 16px;
    color: #222;
    line-height: 1.5em;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
  }
}

.events {
  .event {
    .icon {
      width: 24px;
      height: 24px;
      float: left;
      margin-top: 0px;
      margin-right: 5px;
      margin-bottom: 5px;
      background-repeat: no-repeat;
    }
    
    .icon.esc {
      background-image: url(/images/icons/Bookmarks.png);
    }
    
    .icon.inspiration {
      background-image: url(/images/lightbulb.png);
    }
    
    .description {
      margin-bottom: 0px;
    }
    
    .time {
      font-style: italic;
      margin-left: 29px;
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
}

.justify {
  text-align: justify;
}
