.styled-table {

  border-collapse: collapse;

  td, th {
    padding-left: 5px;
    padding-right: 5px;
    white-space: nowrap;
  }

  th {
    background: #ccc;
    border-bottom: 2px solid #999;
  }
  
  td {
    border-bottom: 1px solid #444;
    background: #eee;
  }
  
  a {
    color: black !important;
  }

}
