%h2 Redigera kalenderpost

= render 'form'

- nav_link "Kalender", calendar_path

- admin_link "Ta bort", event_path(@event), :method => :delete, :confirm => "Är du säker på att du vill ta bort kalenderposten?"
- admin_link "Tillbaka", @event
