%h2 Skicka nyhetsbrev

%table
  %tr
    %th Mall
    %td= @delivery.template_name

%div#new_test_delivery
  = simple_form_for([@newsletter, @delivery], :url => newsletter_live_delivery_path(@newsletter)) do |form|
    = form.input :list_id, :collection => @delivery.all_lists.map { |list| [list['name'], list['id']] }
    = form.submit 'Skicka nyhetsbrev'
