<% stylesheet "500" %>

<div id="error_box">
  <h2>Här får inte du vara</h2>
  
  <span class="small">(401 Unauthorized)</span>
  
  <p>Det verkar som att du inte har rättigheter att se denna sida.</p>
  
  <p>Om du anser att du borde ha det, <a href="/kontakt/ior">kontakta Ior</a>. Glöm inte att skriva vem du är, vilken sida du försöker visa och varför du borde ha rättigheter.</p>
  
</div>
  
