<% stylesheet "500" %>

<div id="error_box">
  <h2>Här får inte du vara</h2>
  
  <span class="small">(401 Not access stuff)</span>
  
  <p>Det verkar som att du inte har rättigheter att se denna sida. </p>
  
  <p>Anser du att du borde ha det, <a href="https://www.d.kth.se/trac/ior/newticket">skapa gärna en ticket</a> i vårt bugghanteringgsystem och skriv vem du är, vilken sida du försöker visa och varför du tycker du borde har rättigheter.</p>
  
  <p><em><a href="/sektionen/namnder/ior/kontakta">Ior</a></em></p>
  
</div>
  
