- stylesheet "500"

#error_box
  %h2 Nu har du gått vilse
  
  %span.small (404 File Not Found)

  %p Adressen "#{request.url}" kunde inte hittas på Datasektionens hemsida.
  
  %p Om du skrev in adressen själv, kontrollera stavningen.
  
  %p Om du följde en länk någonstans på hemsidan, använd gärna Tyck till-knappen till höger för att rapportera problemet. Alternativt kan du även <a href="/kontakt/ior">kontakta Ior</a> direkt.
