- stylesheet "500"

#error_box
  %h2 Hoppsan!
  
  %span.small (500 Application Error)

  %p Där gick någonting sönder!
  
  %p <a href="/kontakt/ior">Rapportera</a> gärna felet till Ior, så åtgärdar vi problemet så snart vi kan! Glöm inte att skriva när och var problemet uppstod samt vad du gjorde.
