<% stylesheet "500" %>

<div id="error_box">
  <h2>Hoppsan!</h2>
  
  <span class="small">(500 Application Error)</span>
  
  <p> Där gick nånting sönder!</p>
    
  <p>
    Rapportera gärna felet på <a href="http://www.d.kth.se/trac/ior">Iors TRAC</a>,
    så åtgärdar vi problemet så snart vi kan! Glöm inte att skriva när och var problemet
    uppstod samt vad du gjorde.
  </p>
  
  <p><em><a href="/sektionen/namnder/ior/kontakta">Ior</a></em></p>
</div>