%h2 Skicka nyhetsbrev

%table
  %tr
    %th Mall
    %td= @delivery.template_name

%div#test_send
  - simple_form_for([@newsletter, @delivery], :url => newsletter_test_delivery_path) do |form|
    = form.input :email
    = form.submit
