<h2>Redigera Studs <%= @year.year %></h2>

<% ior_form_for(@year) do |f| %>
  <%= f.text_area :serialized_project_members %>
  <%= f.text_area :serialized_company_users %>
  <%= f.submit "OKOKOKOK"%>
<% end -%>