<h2>Tyck till om hemsidan</h2>

<% form_tag(feedbacks_path) do %>
<fieldset>
  <ul>
      <li>
        <%= label_tag "text", "Vad tycker du?" %>
        <%= text_area_tag "text", nil, :size => "60x15" %>
      </li>
      
      <li class="submit_li">
        <%= submit_tag "Skicka" %>
      </li>
  </ul>
</fieldset>

<% end %>
