%h2 Ny funktionärspost
%p
  Här kan du skapa en ny funktionärspost, den kommer inte visas förän någon
  är nominerad eller sitter på den.

= render 'form'

- admin_link 'Funktionärsposter', chapter_posts_path
- admin_link 'Funktionärer', functionaries_path
