<h2>Ny funktionärspost</h2>

<p>
  Här kan du skapa en ny funktionärspost, den kommer inte visas förän någon
  är nominerad till den.
</p>

<% form_for(@chapter_post) do |f| %>
  <%= f.error_messages %>

  <%=  render :partial => 'form', :locals => { :f => f } %>

  <p>
    <%= f.submit "Create" %>
  </p>
<% end %>

<%= link_to 'Back', chapter_posts_path %>
