%h2 Ny funktionärspost
%p
  Här kan du skapa en ny funktionärspost, den kommer inte visas förän någon
  är nominerad eller sitter på den.

- form_for(@chapter_post) do |f|
  = render :partial => 'form', :locals => { :f => f }
  %p
    = f.submit "Create"

- admin_link 'Redigera funktionärsposter', chapter_posts_path
- admin_link 'Tillbaka till funktionärer', functionaries_path
