<h2>Nytt nyhets-/kalenderinlägg</h2>

<% ior_form_for(@post) do |form| %>
  <%= render :partial => form %>

  <%= form.submit 'Spara', :disable_with => 'Sparar...', :cancel_link => link_to('avbryt', '/') %>
<% end %>

<%= link_to 'Back', posts_path %>
