<h1>Editing functionary</h1>

<% form_for(@functionary) do |f| %>
  <%= f.error_messages %>

  <%= render :partial => 'form', :locals => { :f => f } %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Ta bort', functionary_path, :confirm => 'Are you sure?', :method => :delete %>
