%h2 Redigera funktionärsmandat
- form_for(@functionary) do |f|
  = render :partial => 'form', :locals => { :f => f }
  %p
    = f.submit "Spara"

- side_link 'Ta bort mandat', functionary_path, :confirm => 'Är du säker?', :method => :delete
