%h1 Editing functionary
- form_for(@functionary) do |f|
  = render :partial => 'form', :locals => { :f => f }
  %p
    = f.submit "Spara"

= link_to 'Ta bort', functionary_path, :confirm => 'Är du säker?', :method => :delete
