<h1>Protokoll</h1>

<table>
  <tr>
  </tr>

  <% @protocols.each do |protocol| %>
    <tr>
      <td><%= protocol.date %></td>
      <td><%= link_to protocol.name, protocol_path(:filename => protocol.filename) %></td>
    </tr>
  <% end %>
</table>

<br />

