<li>
  <%= render :partial => 'list_fields/disabled_common_field', :locals => {:field => disabled_check_boxes} %>
  
  <table>
  <% disabled_check_boxes.value.split('|').each do |checkbox| %>
    <tr>
      <td><input type="checkbox" disabled="disabled"></td>
      <td><%= checkbox %></td>
    </tr>
  <% end %>
  </table>
  
  <% if disabled_check_boxes.list.nil? || (disabled_check_boxes.list && disabled_check_boxes.list.list_entries.empty?) %>
    <div class="controls"><%= link_to_function 'Ta bort', "remove_field(this.up().up(), #{disabled_check_boxes.id})"%></div>
  <% end -%>
  
</li>