<li>
  <%= render :partial => 'list_fields/disabled_common_field', :locals => {:field => disabled_radio_buttons} %>

  <table>
  <% disabled_radio_buttons.value.split('|').each do |radio_button| %>
    <tr>
      <td>
        <input type="radio" value="<%= radio_button %>">
      </td>
      <td><%= radio_button %></td>
    </tr>
  <% end %>
  </table>
  <% if disabled_radio_buttons.list.nil? || (disabled_radio_buttons.list && disabled_radio_buttons.list.list_entries.empty?) %>
    <div class="controls"><%= link_to_function 'Ta bort', "remove_field(this.up().up(), #{disabled_radio_buttons.id})"%></div>
  <% end -%>
</li>