<li>
  <label for="list_entry[list_field_entry_params][<%= longer_text.id %>]"><%= longer_text.description %></label>
  
  <textarea cols="40" rows="5" name="list_entry[list_field_entry_params][<%= longer_text.id %>]"><%= longer_text.value %></textarea>
</li>
