.events
  %h3 &nbsp;
  %h2 Agenda
  %p Här är datasektionens agenda för en vecka framåt i tiden
  .event
    .icon.esc
    %p.description Onsdagspub
    %p.time 
      %span Onsdag
      %span.dim den
      %span 16e Juni
    %p.time 17:17 i ESCapen
    .clear
    
  .event
    .icon.esc
    %p.description Tentapub
    %p.time 
      %span Lördag
      %span.dim den
      %span 19e Juni
    %p.time 20:00 i ESCapen
    .clear
  
  .event
    .icon.inspiration
    %p.description Google Tech-Talk
    %p.time 
      %span Tisdag
      %span.dim den
      %span 21a Juni
    %p.time 13:00 i D1
  
  %p Se alla event i kalendern
  
  .clear