.events
  %h3 &nbsp;
  %h2 Agenda
  %p Här är datasektionens agenda för en vecka framåt i tiden
  - @calendar_posts.each do |calendar_post|
    .event
      .icon.esc
      %p.description= link_to calendar_post, calendar_post
      %p.time
        %span= calendar_post.starts_at.strftime "%A"
        %span= calendar_post.starts_at.strftime "%d %b"
        %span.dim klockan
        %span= calendar_post.starts_at.strftime "%H:%M"
      .clear
  
  %p Se alla event i kalendern
  
  .clear