.jobs
  %h2 Jobb?

  %p
    Är du sugen på sommarjobb, exjobb, traineeplats eller har du mot förmodan tagit examen och är sugen på ett heltidsjobb? Ta en sväng förbi Datasektionens egen jobbportal och se om något passar!
    = succeed('.') do
      = link_to 'Jobbportalen hittar ni här', "http://djobb.se/"
