<p>
  <b>Ugid:</b>
  <%=h @kth_account.ugid %>
</p>

<p>
  <b>Person:</b>
  <%=h @kth_account.person_id %>
</p>


<%= link_to 'Edit', edit_kth_account_path(@kth_account) %> |
<%= link_to 'Back', kth_accounts_path %>
