<h3>Formatering av text</h3>
<p>
  Du kan använda html och textile för att formatera texten. 
</p>
<p>
  h2. Överskrift<br />
  h3. Ny sektion/del<br />
  _<em>emphasis</em>_<br />
  *<strong>strong</strong>*<br />
  "Datasektionen":http://www.d.kth.se<br />
</p>
<p>
  Läs mer:
  <ul>
    <li><a href="http://textile.thresholdstate.com/">http://textile.thresholdstate.com</a></li>
    <li><a href="http://hobix.com/textile/">http://hobix.com/textile</a></li>
  </ul>
</p>
