!!!

%html
  %head
    %title= "Gör skillnad! – Konglig Datasektionen"
    %link{:href => "http://fonts.googleapis.com/css?family=Yanone+Kaffeesatz:300,700", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "http://fonts.googleapis.com/css?family=Crimson+Text", :rel => "stylesheet", :type => "text/css"}
    = stylesheet_link_tag "screen"
  %body
    %nav.main
      .container_16
        .grid_13.prefix_3
          %ul
            %li
              %a{:href => "/"} Nyheter
            %li
              %a{:href => "/sektionen"}
                Sektionen
            %li
              %a{:href => "/sektionen/namnder/naringslivsgruppen"}
                Näringsliv
            %li
              %a{:href => "/sektionen/namnder/studienamnden"}
                Studier
            %li
              %a{:href => "/sektionen/kontakt"}
                Kontakt
        .clear &nbsp;
    
    .content.container_16
      %nav.sub.grid_3
        .shield
          %a{:href => '/'}
            =image_tag('solo/shield-small-shadow.png')
        .clear
        %ul
          %li 
            %span Alla 
            %span.dim (44)
          %li 
            %span ior 
            %span.dim (5)
          %li 
            %span Mottagningen
            %span.dim (6)
          %li
            %span NLG
            %span.dim (7)
          %li
            %span dkm
            %span.dim (12)
          %li
            %span ESCapo
            %span.dim (1)
          %li
            %span DIU
            %span.dim (13)
          
      .grid_9
        = yield

      .grid_4.events
        %h2 Designen?
        %p
          Det finns ett antal designförslag på gång för Datasektionens hemsida, och detta är ett av 
          dem. Detta förslag är framtaget av 
          %a{:href => 'mailto:jocke.ekberg@gmail.com'} Joakim Ekberg.
        
        %p  
          Vill du vara med och påverka eller hjälpa till? Läs vidare och 
          kom på Informationsorganets nystartsmöte!
      .clear
        
:javascript
  var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
  document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  try {
  var pageTracker = _gat._getTracker("UA-7158121-2");
  pageTracker._trackPageview();
  } catch(err) {}
