- content_for :main_content do
  .mid.grid_9
    - if content_for?(:content)
      = yield :content
    - else 
      = yield 

  .side.grid_4
    = yield :additional_content

= render :file => 'layouts/application'
