%h2 Redigera valtillfälle

= render :partial => 'form'

- admin_link 'Ta bort valtilfälle', @election_event, :confirm => 'Är du säker på att du vill ta bort valtillfället?', :method => :delete
- admin_link 'Alla valtillfällen', election_events_path
