<h2>Index över val</h2>

<p>
  Närmaste nästkommande val visas under sektionen/val. För nomineringar
  på ett annat val, klicka på <em>visa</em> här under.
</p>

<table class="styled-table">
  <tr>
    <th>Namn (nominerade)</th>
    <th>Datum</th>
  </tr>

<% for election_event in @election_events %>
  <tr>
    <td>
      <%= link_to election_event.name, election_event %>
      (<%= link_to 'visa', :controller => 'nominees', :election_event => election_event.id %>)
    </td>
    <td><%=h election_event.date %></td>
    <td><%= link_to 'Edit', edit_election_event_path(election_event) %></td>
  </tr>
<% end %>
</table>

<h3>Hjälp</h3>

<p>
  Valen används när du nominerar en person, skapa nya val för varje val. <br />
  Återanvänd ej gamla val från förra året.
</p>

<p>
  Sker det inga nomineringar under ett SM så finns det ingen poäng att
  skapa ett val här.
</p>
